{% extends 'base.html' %}

{% block title %}About | MyUrl{% endblock %}

{% block content %}
<br><br><br>
<h1>About Us</h1>
<section>
    <article>
        <p>MyUrl is a user-friendly interface for users to quickly convert thier lengthy url's to a simple short/custom urls.</p>
    </article>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, dolores voluptates. Provident dolorum aut, blanditiis nihil cumque omnis harum itaque! Ab illum non amet commodi. Ipsam asperiores repellendus quo ducimus?</p>
    </article>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, dolores voluptates. Provident dolorum aut, blanditiis nihil cumque omnis harum itaque! Ab illum non amet commodi. Ipsam asperiores repellendus quo ducimus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, dolores voluptates. Provident dolorum aut, blanditiis nihil cumque omnis harum itaque! Ab illum non amet commodi. Ipsam asperiores repellendus quo ducimus?</p>
    </article>
    <article>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime nemo voluptatem nisi autem, exercitationem, quo quidem nam laudantium ullam laborum! Voluptatibus esse sint autem maiores totam laborum earum ab.</p>
    </article>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, dolores voluptates. Provident dolorum aut, blanditiis nihil cumque omnis harum itaque! Ab illum non amet commodi. Ipsam asperiores repellendus quo ducimus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, dolores voluptates. Provident dolorum aut, blanditiis nihil cumque omnis harum itaque! Ab illum non amet commodi. Ipsam asperiores repellendus quo ducimus?</p>
    </article>
</section>
{% endblock %}