{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Custom css link -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <!-- Adding favicon to page -->
    <link rel=icon href="{% static 'home/images/favicon.png' %}" type="image/png" />
    <!-- Document Title -->
    <title>{% block title %}MyUrl | Url Shortener{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="MyUrl is a user-friendly interface for shortening lengthy urls and tracks clicks/visits for user convenience. " />
    <meta name="keywords" content="url, short, shortner, shortener, url shortner, url shortener, myurl, myurl.page, myurl shortener" />
    {% endblock %}
</head>
<body>
    <!-- Header Section -->
    <header class="container">
        <a href="/"><h1>MyUrl</h1></a>
        {% if user.is_authenticated %}
        <a href="{% url 'account:logout' %}"><p>Hi {{user.username}}, Logout</p></a>
        {% else %}
        <a href="{% url 'account:login' %}"><p>Login/Signup</p></a>
        {% endif %}
    </header>
    <br>
    <!-- Navigation Section -->
    {% include 'nav.html' %}
    <main>
        <div class="container">
            <!-- Main Content -->
            {% block content %}
            <h1 style="color: aliceblue;">Hi</h1>
            {% endblock %}
        </div>
    </main>
</body>
</html>